body{
  text-align: center;
  margin: 30px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: rgb(175, 235, 255);
  font-style: italic;
  padding-bottom: 10px;
}

h1{
  padding-bottom: 10px;
}


h2{

}

