body{
  text-align: left;
  margin: 30px;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  background-color: rgb(175, 235, 255);
  font-style: italic;
  padding-bottom: 10px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

div image{
  width: 100px;
  height: 100px;
}

@media screen and (min-width : 1200px){
  div image{
    display: none;
  }
}





